.gaya1 {
  color: pink;
  transition: all 0.2s ease-in-out;
}

/* h1:nth-child(2) {
  color: red;
} */

.gaya1:hover {
  color: black;
  background-color: pink;
}

#satu {
  background-color: black;
  color: pink;
}
